.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 325px;
  height: 205px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  box-shadow:
    0 2px 8px 0 #0000001a,
    inset -1px 2px 2px 0 #ffffffb2,
    inset 1px -1px 2px 0 #00000040;
}

.card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__count {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.card__delete-btn,
.card__flip-btn {
  height: 24px;
  width: 24px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  padding: 0;
  outline: none;
  z-index: 2;
  transition: opacity 0.1s ease-in-out;
}

.card__flip-btn {
  background-image: url("../images/flip.svg");
}

.card__delete-btn {
  background-image: url("../images/delete.svg");
}

.card__delete-btn:hover,
.card__flip-btn:hover {
  opacity: 1;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.card_color_green,
.card_color_default {
  background-color: #64d583;
}

.card_color_blue {
  background-color: #91a8f9;
}

.card_color_pink {
  background-color: #ee92d7;
}

.card_color_purple {
  background-color: #aa8ef0;
}

.card_color_orange {
  background-color: #ee955e;
}

.card_color_yellow {
  background-color: #f5d770;
}

.card_color_white {
  background-color: #fff;
}
