.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery__title {
  width: 100%;
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 40px;
}

.gallery__wrapping-row .gallery__title {
  margin-bottom: 0;
}

.gallery__wrapping-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -2px 0 18px;
  width: 100%;
}

.gallery__practice-btn {
  background: #1a1a1a;
  padding: 12px 16px 14px;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  border: none;
  cursor: pointer;
}

.gallery__practice-btn:hover {
  background-image: linear-gradient(to top, #595959 0%, #1a1a1a 48%);
  color: #fff;
}

.gallery__list {
  display: contents;
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery__new-card-btn {
  background-color: #d9d9d9;
  width: 325px;
  height: 205px;
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: #1a1a1a80;
  border-radius: 20px;
  border: none;
  box-shadow:
    0 2px 8px 0 #0000001a,
    inset -1px 2px 2px 0 #ffffffb2,
    inset 1px -1px 2px 0 #00000040;
  cursor: pointer;
}

.gallery__new-card-btn:hover {
  background-color: #c5c5c5;
  color: #1a1a1a;
}
