.new-deck-view {
  max-width: 670px;
  width: 100%;
  margin: 0 auto;
}

.new-deck-view__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  margin: 0 0 32px;
}

.new-deck-view__form {
  border-radius: 12px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.new-deck-view__color-picker {
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  gap: 12px;
}

.new-deck-view__legend {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
  margin-bottom: 12px;
}

.new-deck-view__color-input {
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 2px solid #1a1a1a33;
  cursor: pointer;
}

.new-deck-view__color-input:checked {
  border-color: #1a1a1a;
}

.new-deck-view__color-input:hover {
  border-color: #1a1a1a80;
}

.new-deck-view__color-input:focus-visible {
  outline: 2px solid #1a1a1acc;
  outline-offset: 3px;
}

.new-deck-view__color-input_color_green {
  background-color: #64d583;
}

.new-deck-view__color-input_color_blue {
  background-color: #91a8f9;
}

.new-deck-view__color-input_color_purple {
  background-color: #aa8ef0;
}

.new-deck-view__color-input_color_pink {
  background-color: #ee92d7;
}

.new-deck-view__color-input_color_orange {
  background-color: #ee955e;
}

.new-deck-view__color-input_color_yellow {
  background-color: #f5d770;
}

.new-deck-view__text-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.new-deck-view__text-input {
  appearance: none;
  font: inherit;
  font-family: DM Mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  height: 230px;
  padding: 10px 12px;
  border: 1px solid #1a1a1a33;
  border-radius: 8px;
  background-color: #fff;
  /* I decided to add explicit styling to prevent text overflow and resizing issues  */
  overflow-y: auto;
  overflow-x: hidden;
  resize: none;
  white-space: pre-wrap;
}

.new-deck-view__text-input::placeholder {
  color: #1a1a1a80;
}

.new-deck-view__submit-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 0.8;
  background-color: #1a1a1a;
  color: #fff;
  padding: 12px 16px 14px;
  border: none;
  border-radius: 8px;
}

.new-deck-view__submit-btn:hover {
  background-image: linear-gradient(to top, #595959 0%, #1a1a1a 48%);
}

.new-deck-view__submit-btn:disabled {
  opacity: 0.3;
}

@media screen and (max-width: 600px) {
  .new-deck-view__title {
    font-size: 32px;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }

  .new-deck-view__form {
    align-items: stretch;
    max-width: 353px;
    width: 100%;
    margin-inline: auto;
  }

  .new-deck-view__color-input {
    border: none;
  }

  .new-deck-view__color-input:checked {
    border: 2px solid #1a1a1a;
  }

  .new-deck-view__text-input {
    height: calc(100dvh - 457px);
  }

  .new-deck-view__submit-btn {
    position: fixed;
    bottom: 75px;
    padding: 12px 0 14px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    background-color: #1a1a1a;
    color: #ffffff;
    aspect-ratio: auto;
    height: 44px;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 353px;
  }
}
