.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #ececec;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 20px 40px 32px;
  max-width: 1440px;
  margin: 0 auto;
  color: #1a1a1a;
  line-height: 1;
}

.page__main-content {
  margin-top: 60px;
  flex-grow: 1;
  margin-bottom: 138px;
}

.page__main-content_page_carousel {
  margin-top: 106px;
}

.page__section.page__section_hidden {
  display: none;
}

@media screen and (max-width: 805px) {
  .page_no-mobile-bar::after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding-inline: 20px;
  }

  .page__main-content {
    margin-top: 40px;
  }

  .page__main-content_page_carousel {
    margin-top: 122px;
  }

  .page.page_footer-fixed .footer {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 3;
  }
}
